.btn{
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    padding: 12px;
    border-radius: 2px;
    transition: all .3s ease-in;
    text-align: center;
}

.btn-white{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    width: auto;
}

.btn-solid{
    color: white;
    border: 1px solid #EE693F;
    background-color: #EE693F;
    margin-bottom: 5px; 
}

.btn-semi-solid{
    color: #EE693F;
    border: 1px solid #EE693F;
    background-color: white;
    margin-top: 22px;
}