*{
    box-sizing: border-box;
}

.body{
    background-color: grey;
}

/* Header Styles Start Here */

header{
    background-color: #00974D;
}

.contacts{
    color: white;
    list-style: none;
    text-align: right;
    padding: 10px;
}

.contacts li{
    padding: 5px 0 5px 30px;
    display: inline-block;
}

.contacts-livechat{
    text-decoration: underline;
}

/* Header Styles End Here */

/* Mainbanner Styles start Here */

.mainbanner{
    position: relative;
    min-height: 740px;
}

.mainbanner_menu {
    padding-top: 5px;
}

.mainbanner-logo{
   display: block;
   width: 69px;
   height: 87px;
}

.mainbanner_menu-links{
    text-align: right;
    padding-top: 20px;
}

 .mainbanner_menu-links li{
    display: inline-block;
    text-align: left;
    padding: 0 0 0 30px;
 }


 .nav-toggle{
     display:  none;
 }
 .mainbanner_menu-links a{
     padding:10px;
     transition: all .1s ease-in;
     border-top: 2px solid transparent ;
 }

 .mainbanner_menu-links a:hover{
     color: #133525;
     border-top-color: #133525;
 }

 .mainbanner_bgimage .bgcolor{
     background-color: rgba(0, 151, 77, 0.75);
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     height: 650px;
 }

 .mainbanner_bgimage{
     background: url("../Images/homepicture.png") no-repeat center top;
     background-size: cover;
     height: 700px;
     position: absolute;
     top:0;
     left:0;
     width: 100%;
     z-index: -1;
     clip-path: ellipse(70% 62% at 50% 30%);
 }

 .mainbanner_message{
     text-align: center;
 }

 .mainbanner_message-header{
     margin: 110px 0 75px;
 }

 .mainbanner_message a{
     display: block;
     margin: 0 auto;
     max-width: 190px;
     margin-bottom: 150px;

 }

 /* Mainbanner styles end here */


 /* School Information styles start here */ 

 .schools{
     margin: 0 -12px;
 }

 .school{
     background: white;
     float: left;
     width: calc(33.33% - 24px);
     min-height: 300px;
     margin: 0 12px;
     border-radius: 10px;
     padding: 10px;
 }

 .school{
     text-align: center;
     padding-top: 32px;
 }

.school-content > li{
    margin: 10px;
    list-style-image: url("../Images/tick.png");
    text-align: left;
}

.school > p{
    font-size: 16px;
    color: grey;
}

.school > a{
    margin: 47px 0 27px ;
}

/* School Info styles end here */



/* Learn more section styles start here */


.middlesection-rows{
    width:1080px;
    max-width:100%;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-bottom: 170px;
}

.middlesection-header{
    margin: 88px 0 42px;
}

.middlesection-row1{
    float: left;
    width: 527px;
}

.middlesection-row2{
    float: right;
    width:527px;
}

/* Tile Content Starts Here */

.tiles{
    background-color: white;
    height:285px;
    margin-bottom:24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .2);
}

.tiles-content-playing::before{
    content: "";
    position: absolute;
    left:0;
    z-index: -1;
    height: 285px;
    background-image: url("../Images/playing.png");
    width: 278px;
}

.tiles-content-playing{
    padding-left: 297px;
    text-align: left;
    position: relative;
    z-index: 1;
}

.tiles-content-playing > h3{
    padding-top: 20px;
}


.tiles-content-playing> a{
    margin-top: 16px;
}

.tiles-content-teaching::before{
    content: "";
    position: absolute;
    left:0;
    z-index: -1;
    height: 285px;
    background-image: url("../Images/teaching.png");
    width: 278px;
}

.tiles-content-teaching{
    padding-left: 297px;
    text-align: left;
    position: relative;
    z-index: 1;
}

.tiles-content-teaching > h3{
    padding-top: 20px;
}

.tiles-content-teaching > a{
    margin-top: 32px;
}

.tiles-content-reading::before{
    content: "";
    position: absolute;
    left:0;
    z-index: -1;
    height: 285px;
    background-image: url("../Images/reading.png");
    width: 278px;
}

.tiles-content-reading{
    padding-left: 297px;
    text-align: left;
    position: relative;
    z-index: 1;
}

.tiles-content-reading > h3{
    padding-top: 20px;
}


.tiles-content-reading > a{
    margin-top: 32px;
}


.tiles-content-prospectus::before{
    content: "";
    position: absolute;
    left:0;
    z-index: -1;
    height: 285px;
    background-image: url("../Images/playing.png");
    width: 278px;
}

.tiles-content-prospectus{
    padding-left: 297px;
    text-align: left;
    position: relative;
    z-index: 1;
}

.tiles-content-prospectus > h3{
    padding-top: 20px;
}


.tiles-content-prospectus> a{
    margin-top: 50px;
}


.tile-content > a{
    margin-top: 15px;
}


/* Tile content ends here */







/* Learn More Section Ends Here */







/* Footer styles start here */
.footer{
    clear: both;
}

.footer-header{
    background-color: #00974D;
    text-align: center;
    padding: 25px 0;
}

.footer-header > h3{
  color: white;
  margin: 0;
  line-height: 15px;
  display: inline-block;
  padding: 35px 32px;
  border-right: 2px solid #A1CEB8;
}


.footer-header > h3:last-child{
    border-right: none;
}
.middle-header-content{
    margin: 0 30px 0;
}

.footer-content{
    background: url("../Images/footerbg.png");
}

.footer-content-lists{
    color: white;
    padding: 70px 19px;
    font-size: 1.15em;
    line-height: 2em;
    margin: 0 -12px;
}

.footer-content-lists > div{
    float: left;
    width: 25%;
    padding: 0 12px;
}


.footer-content-lists h4{
    margin: 0 0 30px;
    text-transform: uppercase;
}


.footer-content-lists ul{
    margin: 0;
    padding: 0;
}


.footer-content-lists .btn{
     margin-top: 30px;
     padding: 10px 20px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    display: inline-block;
    margin-right: 15px;
    width: 36px;
    height: 36px;
    background: url("../Images/facebook.png"); 
}


.social-icons a.twitter{
    background: url("../Images/twitter.png"); 
}

.social-icons a.youtube{
    background: url("../Images/youtube.png"); 
}


 /* Footer Styles end here */


/* Media Styles Start Here */




/* Media Styles for mobile Start Here */

  @media screen and (max-width: 700px){
      .container{
          width: auto;
          padding: 15px;
      }

      .mainbanner_menu-links{
          display: none;
          position: absolute;
          top: 50px;
          right: 5px;
      }

      .mainbanner_menu-links > li{
             display: block;
             padding-top: 20px;
             border-bottom: 1px solid #FFFFFF;
      }


      .mainbanner_menu-links .btn{
        display: inline-block;
        text-align: left;
        position: relative;
        left:-15px;
     }
    


      .nav-toggle{
        display: none;
    }
    
    
    .nav-toggle:checked ~ ul{
        display: block;
        background-color: #00974D;
    }
    
    .nav-toggle-label{
        position: absolute;
        top:15px;
        right:15px;
        padding:10px;
    }
    
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after{
        display: block;
        background: white;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }
    
    
    
    .nav-toggle-label span::before,
    .nav-toggle-label span::after{
        content: "";
        position: absolute;
    }
    
    
    .nav-toggle-label span::before{
        bottom:7px;
    }
    
    .nav-toggle-label span::after{
        top:7px;
    }


    .mainbanner_message a{
        margin-bottom: 20px;
    }


      .preschool{
         width: 75%;
         position: relative;
         left: 55px;
         margin-top: -15px;
      }
      
      .juniorschool{
          display: none;    
      }

      .seniorschool{
          display: none;
      }


      .middlesecion{
          max-width: 100%;
      }

      .middlesection-row1{
          float:none;
          max-width: 100%;
      }

      .middlesection-row2{
        float:none;
        max-width: 100%;
    }

    .tiles-content-playing{
        padding-left:132px;
    }

    .tiles-content-playing > a{
        position: relative;
        bottom: 15px;
    }

    .tiles-content-playing::before{
           width: 118px;
    }

    .tiles-content-reading{
        padding-left:132px;
    }


    .tiles-content-reading::before{
        width: 118px;
 }

 .tiles-content-teaching{
    padding-left:132px;
}


   .tiles-content-teaching::before{
    width: 118px;
 }


 .tiles-content-prospectus{
    padding-left:132px;
}

.tiles-content-prospectus > a{
    position: relative;
    bottom: 15px;
}

.tiles-content-prospectus::before{
       width: 118px;
}




 .footer-content-lists > div{
    float: none;
    width: 100%
 }


 .footer-content-lists > div:last-child{
     margin-top: 40px
 }

  .sitemap{
      display: none;
  }

  .learnings{
      display: none;
  }

  .admissions{
      border-bottom: 1px solid #FFFFFF;
      padding-left: 0;
      width: 100%;
  }

  .contact{
      margin-top: 20px;
  }

  .social-icons{
      display: none;
  }

  }


  /* Media Styles for mobile End here */



    /* Media Styles for desktop start here */



  @media screen and (min-width: 701px) and (max-width:1055px){
      .mainbanner_menu-links{
          display: inline-block;
      }
      .mainbanner_menu-links > li{
         padding: 0;
         text-align: left;
      }

      .middlesection-row2{
          float:left;
          width:75%;
      }

      .middlesection-row1{
          width:75%;
      }
      
      .footer-content-lists{
          padding-left: 19px;
      }

      .footer-content-lists > div{
        float: none;
        width: 100%
     }
    
    
     .footer-content-lists > div:last-child{
         margin-top: 40px
     }
    
      .sitemap{
          display: none;
      }
    
      .learnings{
          width: 50%;
          border-bottom: 1px solid #FFFFFF;
      }
    
      .admissions{
          margin-top: 40px;
          border-bottom: 1px solid #FFFFFF;
          width: 50%;
      }
    
      .contact{
          margin-top: 20px; 
          width: 50%;
      }
    
      .social-icons{
          display: none;
      }
  }


  /* Media Styles for desktop end here */

/* Media Styles End here */
