/* Mainbanner flex styles start here */

.mainbanner_menu{
    display:flex;
    justify-content: flex-end;
}

.mainbanner-logo{
    margin-right: 145px;
}

.mainbanner_menu-links li{
    padding-left: 20px;
}

.mainbanner_menu-links li > a {
     padding: 8px 25px 0 0;
     border-top: none;
}

.mainbanner_menu-links li{
    padding-top: 10px;
    transition: all .1s ease-in;
    border-top: 2px solid transparent ;
}

.mainbanner_menu-links li:hover{
    color: #133525;
    border-top-color: #133525;
}

.mainbanner_menu-links li:nth-child(7){
    border-top: none;
}

/* Mainbanner flex styles end here */

/* School section flex styles start here */


.schools{
    display: flex;
    flex-direction: row;
}

.school{
    width: auto;
}

/* School section flex styles end here */

/* Learn more section flex styles start here */

.middlesection-row1{
    display: flex;
}

.middlesection-row2{
    display: flex;
}

.tiles{
    padding-right: 5px;
}

.tiles-content-prospectus > a{
    margin-top: 32px;
}
/* Learn more section flex styles end here */

/* Footer flex styles start here */

.footer-content-lists{
    display: flex;
}

/* Footer flex styles end here */