/* Media Styles Start Here */




/* Media Styles for mobile Start Here */

@media screen and (max-width: 320px){
    .container{
        width: auto;
        padding: 15px;
    }

    .mainbanner_bgimage{
      clip-path: ellipse(82% 45% at 50% 30%);
    }

    .mainbanner_menu{
        display: inline-block;
     }



    .mainbanner_menu-links{
        display: none;
        position: absolute;
        top: 50px;
        right: 5px;
    }

    .mainbanner_menu-links > li{
           display: block;
           padding-top: 20px;
           border-bottom: 1px solid #FFFFFF;
    }


    .mainbanner_menu-links .btn{
      display: inline-block;
      text-align: left;
      position: relative;
      left:-15px;
   }

   .mainbanner_message-header{
       line-height: 60px;
       margin: 0px 0 110px; 
   }
  


    .nav-toggle{
      display: none;
  }
  
  
  .nav-toggle:checked ~ ul{
      display: block;
      background-color: #00974D;
  }
  
  .nav-toggle-label{
      position: absolute;
      top:27px;
      right:15px;
      padding:10px;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
      display: block;
      background: white;
      height: 2px;
      width: 2em;
      border-radius: 2px;
      position: relative;
  }
  
  
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
      content: "";
      position: absolute;
  }
  
  
  .nav-toggle-label span::before{
      bottom:7px;
  }
  
  .nav-toggle-label span::after{
      top:7px;
  }


  .mainbanner_message a{
      margin-bottom: 20px;
  }


  .mobile-school-links{
      display:block;
      text-align: center;
      margin-bottom: 20px;
      margin-left: 5px;
  }

  .mobile-school-links > span:nth-child(2){
      padding: 0 20px;
  }

  .mobile-school-links > span:first-child{
      color: #00974D;
      border-bottom: 2px solid #00974D;
  }


    .preschool{
       width: 100%;
       margin-top: -15px;
    }
    
    .juniorschool{
        display: none;    
    }

    .seniorschool{
        display: none;
    }


    .middlesection{
        max-width: 100%;
    }

   .middlesection-header{
       line-height: 40px;
       margin: 32px 0px 32px;
   }
   

  .middlesection-rows{
      max-width: 100%;
      margin-bottom: 0px;
  }

  .tiles{
      width: 300px;
      padding-right: 8px;
      margin: 0 0 16px 0;
  }


  .playing{
    grid-row: 1;
}

.reading{
    grid-row: 2;
}

.teaching{
    grid-row: 1;
}

.prospectus{
    grid-row: 2;
}


 
  .tiles-content-playing{
      padding-left: 92px;
  }
  .tiles-content-playing::before{
      width: 90px;
  }

  .tiles-content-playing > a{
      margin-top: 15px;
  }


  .tiles-content-reading{
      padding-left: 92px;
  }
  .tiles-content-reading::before{
      width: 90px;
  }

  .tiles-content-reading> a{
    margin-top: 15px;
}


  .tiles-content-teaching{
      padding-left: 92px;
  }
  .tiles-content-teaching::before{
    width: 90px;
  }

  .tiles-content-teaching > a{
    margin-top: 15px;
}


  .tiles-content-prospectus{
      padding-left: 92px;
  }
  .tiles-content-prospectus::before{
      width: 90px;
  }

  .tiles-content-prospectus > a{
    margin-top: 15px;
}







.footer-content-lists{
   grid-template-columns: 100%;
}

.footer-content-lists > div{
    width: 100%;
}

.footer-header > h3{
    border-right: none;
    line-height: 22px;
}


.footer-content-lists > div:last-child{
   margin-top: 40px
}

.sitemap{
    display: none;
}

.learnings{
    display: none;
}

.admissions{
    border-bottom: 1px solid #FFFFFF;
    padding-left: 0;
    width: 100%;
    grid-row: 1;
}

.admissions > ul{
  padding-bottom: 50px;
}

.contact{
    margin-top: 20px;
    grid-row: 2;
}

.social-icons{
    display: none;
}

  }

  @media screen and (min-width: 321px) and (max-width: 700px){
      .container{
          width: auto;
          padding: 15px;
      }

      .mainbanner_bgimage{
        clip-path: ellipse(82% 45% at 50% 30%);
      }

      .mainbanner_menu{
         display: inline-block;
      }


      .mainbanner_menu-links{
          display: none;
          position: absolute;
          top: 50px;
          right: 5px;
      }

      .mainbanner_menu-links > li{
             display: block;
             padding-top: 20px;
             border-bottom: 1px solid #FFFFFF;
      }


      .mainbanner_menu-links .btn{
        display: inline-block;
        text-align: left;
        position: relative;
        left:-15px;
     }

     .mainbanner_message-header{
         line-height: 60px;
         margin: 0 0 130px; 
     }
    


      .nav-toggle{
        display: none;
    }
    
    
    .nav-toggle:checked ~ ul{
        display: block;
        background-color: #00974D;
    }
    
    .nav-toggle-label{
        position: absolute;
        top:27px;
        right:15px;
        padding:10px;
    }
    
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after{
        display: block;
        background: white;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }
    
    
    
    .nav-toggle-label span::before,
    .nav-toggle-label span::after{
        content: "";
        position: absolute;
    }
    
    
    .nav-toggle-label span::before{
        bottom:7px;
    }
    
    .nav-toggle-label span::after{
        top:7px;
    }


    .mainbanner_message a{
        margin-bottom: 60px;
    }


    .mobile-school-links{
        display:block;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 5px;
    }

    .mobile-school-links > span:nth-child(2){
        padding: 0 20px;
    }

    .mobile-school-links > span:first-child{
        color: #00974D;
        border-bottom: 2px solid #00974D;
    }


      .preschool{
        width: 100%;
         text-align: center;
      }
      
      .juniorschool{
          display: none;    
      }

      .seniorschool{
          display: none;
      }


      .middlesection{
          max-width: 100%;
      }
  
     .middlesection-header{
         line-height: 40px;
         margin: 32px 0px 32px;
     }
     

    .middlesection-rows{
        max-width: 100%;
        margin-bottom: 0px;
    }

    .tiles{
        width: 91vw;
        padding-right: 5px;
        margin: 0 0 16px 0;
    }

    .playing{
        grid-row: 1;
    }

    .reading{
        grid-row: 2;
    }

    .teaching{
        grid-row: 1;
    }

    .prospectus{
        grid-row: 2;
    }


   
    .tiles-content-playing{
        padding-left: 127px;
    }
    .tiles-content-playing::before{
        width: 118px;
    }


    .tiles-content-reading{
        padding-left: 127px;
    }
    .tiles-content-reading::before{
        width: 118px;
    }

    .tiles-content-teaching{
        padding-left: 127px;
    }
    .tiles-content-teaching::before{
      width: 118px;
    }


    .tiles-content-prospectus{
        padding-left: 127px;
    }
    .tiles-content-prospectus::before{
        width: 118px;
    }






 .footer-content-lists > div{
    float: none;
    width: 100%
 }

 .footer-header > h3{
      border-right: none;
      line-height: 17px;
 }

 .footer-content-lists{
     width: 100%;
     grid-template-columns: 100% ;
 }

 


 .footer-content-lists > div:last-child{
     margin-top: 40px
 }

  .sitemap{
      display: none;
  }

  .learnings{
      display: none;
  }

  .admissions{
      border-bottom: 1px solid #FFFFFF;
      padding-left: 0;
      width: 100%;
      grid-row: 1;
  }

  .admissions > ul{
    padding-bottom: 50px;
  }

  .contact{
      margin-top: 20px;
      grid-row: 2;
  }

  .social-icons{
      display: none;
  }

  }


  /* Media Styles for mobile End here */



    /* Media Styles for desktop start here */



  @media screen and (min-width: 701px) and (max-width:1160px){
    .mainbanner_menu{
        display: inline-block;
     } 
    
    .mainbanner_menu-links{
          display: none;
      }
      
      .mainbanner_menu-links > li{
         padding: 0;
         text-align: left;
      }

      .nav-toggle{
        display: none;
    }
    
    
    .nav-toggle:checked ~ ul{
        display: block;
        background-color: #00974D;
    }
    
    .nav-toggle-label{
        position: absolute;
        top:15px;
        right:15px;
        padding:10px;
    }
    
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after{
        display: block;
        background: white;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }
    
    
    
    .nav-toggle-label span::before,
    .nav-toggle-label span::after{
        content: "";
        position: absolute;
    }
    
    
    .nav-toggle-label span::before{
        bottom:7px;
    }
    
    .nav-toggle-label span::after{
        top:7px;
    }


      .mobile-school-links{
          display: none;
      }

      .schools{
          grid-template-columns: repeat(3, 1fr);
      }

      
      .middlesection-row1{
          margin-bottom: 25px;
          padding: 0 16px;
      }

      .middlesection-row2{
        padding: 0 16px;
    }


      .tiles{
        width: 96vw;
        margin: 0;
        padding-right: 8px;
    }

    .playing{
        grid-row: 1;
    }

    .reading{
        grid-row: 2;
    }

    .teaching{
        grid-row: 1;
    }

    .prospectus{
        grid-row: 2;
    }

   
    .tiles-content-playing{
        padding-left: 296px;
    }
    .tiles-content-playing::before{
        width: 275px;
    }


    .tiles-content-reading{
        padding-left: 296px;
    }
    .tiles-content-reading::before{
        width: 275px;
    }

    .tiles-content-teaching{
        padding-left: 296px;
    }
    .tiles-content-teaching::before{
      width: 275px;
    }


    .tiles-content-prospectus{
        padding-left: 296px;
    }
    .tiles-content-prospectus::before{
        width: 275px;
    }



      
    .footer-content-lists{
        width: 100%;
        grid-template-columns: 100% ;
    }
   

      .footer-content-lists > div{
        width: 100%;
     }
    
    
     .footer-content-lists > div:last-child{
         margin-top: 40px
     }
    
      .sitemap{
          display: none;
      }
    
      .learnings{
          width: 50%;
          border-bottom: 1px solid #FFFFFF;
      }
    
      .admissions{
          margin-top: 40px;
          border-bottom: 1px solid #FFFFFF;
          width: 50%;
      }
    
      .contact{
          margin-top: 20px; 
          width: 50%;
      }
    
      .social-icons{
          display: none;
      }
  }


  /* Media Styles for desktop end here */

/* Media Styles End here */